::selection {
    background-color: #fff;
    color: #111;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background-color: #111;
}

::-webkit-scrollbar-thumb {
    background-color: #929292;
}

.scroller-inline {
    animation: scroller 20s linear infinite;
}

@keyframes scroller {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(calc(-100% - 4px));
    }
}

#backgroundCanvas {
    background: linear-gradient(to right, #000000, #1a1a1a);
}

.about-page {
    background: linear-gradient(to right, #000000, #161616);
}

@media (max-width:400px) {
    .footer .footer-right-container .social-links .social-media-links {
        margin-right: 2.8rem;
    }
}

/* Button Effect 1 */
.button-effect-1 {
    position: relative;
    overflow: hidden;
    transition: color .3s ease-in-out;
}

.button-effect-1::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #fff;
    height: 0;
    transition: height .3s ease-in-out;
}

.button-effect-1:hover::after {
    height: 100%;
    top: 0;
}

.button-effect-1:hover {
    color: #111;
}

/* Button Effect 2 */
.button-effect-2 {
    position: relative;
    overflow: hidden;
    transition: color .3s ease-in-out;
    z-index: 1;
}

.button-effect-2::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #111;
    height: 0;
    transition: height .3s ease-in-out;
}

.button-effect-2:hover::after {
    height: 100%;
    top: 0;
}

.button-effect-2:hover {
    color: #fff;
}

/* Engage Page Card Button Effect */

.engage-page-card-btn {
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color .3s ease-in-out;
}

.engage-page-card-btn::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 30%;
    background-color: #333;
    height: 0;
    transition: height .3s ease-in-out;
}

.engage-page-card-btn:hover::after {
    height: 100%;
    top: 0;
}

.engage-page-card-btn:hover {
    color: #f6f6f6;
}

/* Hover Highlight Effect */

.hover-highlight-effect a {
    color: white;
    transition: color 0.3s ease-in-out;
    position: relative;
    z-index: 1;
}

.hover-highlight-effect a:hover {
    z-index: 2;
}

.hover-highlight-effect a:hover ~ a,
.hover-highlight-effect a:has(~ a:hover) {
    color: gray;
}