::selection{
    background-color: #fff;
    color: #111;
}

::-webkit-scrollbar{
    width: 2px;
}

::-webkit-scrollbar-track{
    background-color: #111;
}

::-webkit-scrollbar-thumb{
    background-color: #929292;
}

.scroller-inline{
    animation: scroller 20s linear infinite;
}

@keyframes scroller {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(calc(-100% - 4px));
    }
}
@media (max-width:400px) {
    .footer .footer-right-container .social-links .social-media-links{
        
        margin-right: 2.8rem;
    }
}